<head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
        <center>
                <h3>Welcome, this website was successfully deployed with <b>Puppet</b> !</h3>
                <h3>Bienvenue, ce site web a été déployé avec succès via <b>Puppet</b> !</h3>
                </br>
                <img src="https://cdn.worldvectorlogo.com/logos/puppet-1.svg" class="img-fluid" alt="Puppet" width="50%">
        </center>
</body>

